// Fonts
$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;

// Colors
$color-white: white;
$color-black: black;
$color-bg: #eee;
$color-neu-black: #0001;
$color-neu-grey: #fff9;
$color-tangerine: #d4770d;

// Neumorphism
$color-neumorphism: -7px -7px 20px 0px $color-neu-grey,
  -4px -4px 5px 0px $color-neu-grey, 7px 7px 20px 0px $color-neu-black,
  4px 4px 5px 0px $color-neu-black, inset 0px 0px 0px 0px $color-neu-grey,
  inset 0px 0px 0px 0px $color-neu-black, inset 0px 0px 0px 0px $color-neu-grey,
  inset 0px 0px 0px 0px $color-neu-black;
$color-neumorphism-large: -7px -7px 10px 0px $color-neu-grey,
  -4px -4px 5px 0px $color-neu-grey, 7px 7px 20px 0px $color-neu-black,
  4px 4px 5px 0px $color-neu-black, inset 0px 0px 0px 0px $color-neu-grey,
  inset 0px 0px 0px 0px $color-neu-black, inset 0px 0px 0px 0px $color-neu-grey,
  inset 0px 0px 0px 0px $color-neu-black;
$color-bg-gradient: linear-gradient(
  90deg,
  rgba(212, 124, 25, 1) 0%,
  rgba(224, 180, 61, 1) 100%
);

// Spacing
$font-size: 2rem;
$padding-s: 2rem;
